:root {
  --primary: #35385B;
  --primary-dark: #303252;
  --accent: #6688EC;
  --dark: #242424;
}

*::-webkit-scrollbar {background-color: var(--dark); width: 0.7em;}
*::-webkit-scrollbar-thumb {background-color: var(--accent);}
::selection {background: #FFF;}

body {
  margin-top: 20px;
  background-color: var(--dark);
  transition: background-color 0.4s;
}

main {
  transition: padding-top 0.4s;
  padding-top: 90px;
}

.light-mode {
  background-color: #eee;
}

#drag {
  z-index: 2;
  overflow: hidden;
  top: 0;
  position: fixed;
  height: 30px;
  width: 100%;
  background-color: var(--accent);
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
nav#drag i.material-icons {
  display: block;
  font-size: 18px;
  height: 30px;
  line-height: 30px;
}
.no-drag {
  -webkit-app-region: no-drag;
}

.nav-wrapper {
  background-color: var(--primary);
  -webkit-user-select: none;
}

.user-view .background {
  background-color: var(--dark);
}

ul#tagsResults {
  max-height: 30px;
}

#tagsResults li a {
  line-height: 30px;
}

#tagsResults li {
  max-height: 30px;
}

#titlebar {
  z-index: 2;
  overflow: hidden;
  top: 30px;
  position: fixed;
}

input#searchBar {
  color: #FFF;
}

#nav-search {
  z-index: 1;
  overflow: hidden;
  position: fixed;
  transition: margin-top 0.4s;
  margin-top: 0px;
}

.card-container {
  column-break-inside: avoid;
}
.card-container .card {
  display: inline-block;
  overflow: visible;
}
.card-container .responsive-video {
  display: inline-block;
  overflow: visible;
}

div#loading {
  margin-top: -20px;
}

.card-column-1 {
  column-count: 1;
}

.card-column-2 {
  column-count: 2;
}

.card-column-3 {
  column-count: 3;
}

.text-center {
  text-align: center;
}

.card-image img {
  cursor: pointer;
  transition: filter 0.2s;
}
.card-image img:hover {
  filter: brightness(80%)
}

.modal h1 {
  font-weight: 600;
  margin: 0;
}

.modal .modalClose {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.modal .input-field {
  margin-top: 2rem;
}

.sidenav-form {
  margin: 0;
  padding: 0 32px;
}

/*
* MATERIALIZE CSS
*/

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #35385B;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: var(--accent);
}
.progress {
  height: 12px;
  background-color: #303252;
  margin: 0;
}
.progress .indeterminate {
  background-color: var(--accent);
}
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid var(--accent);
  box-shadow: 0 1px 0 0 var(--accent);
}
.input-field .prefix.active {
  color: var(--accent);
}

.btn, .btn-large {
  text-decoration: none;
  color: #fff;
  background-color: var(--dark);
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
}

.btn:hover, .btn-large:hover,
.btn-floating:hover {
  background-color: #FFF;
  color: var(--dark);
}

.btn:focus, .btn-large:focus,
.btn-floating:focus {
  background-color: #FFF;
}
[type="checkbox"].filled-in:checked + span:not(.lever):after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #576fe6;
  background-color: #576fe6;
  z-index: 0;
}
.select-wrapper input.select-dropdown {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #576fe6;
  color: #9e9e9e;
  outline: none;
  height: 3rem;
  line-height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 8px 0 8px 0;
  padding: 0;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}
.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid var(--accent);
}
a, .dropdown-content li > span {
  color: var(--primary-dark);
}
.sidenav .user-view {
  position: relative;
  padding: 69px 32px 0;
  margin-bottom: 8px;
}
.sidenav li > label, .sidenav li > .select-wrapper {
  padding: 0 32px;
}
label {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.87);
}
.input-field input[type=search] {
  display: block;
  line-height: inherit;
}
.input-field input[type=search]:focus:not(.browser-default) {
  background-color: #292b46;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #FFF;
}

.input-field input[type=search]:focus:not(.browser-default) + label i,
.input-field input[type=search]:focus:not(.browser-default) ~ .mdi-navigation-close,
.input-field input[type=search]:focus:not(.browser-default) ~ .material-icons {
  color: #FFF;
}
input.select-dropdown.dropdown-trigger {
  margin: 0;
}
.toast {
  top: 35px !important;
  left: 20px !important;
  width: auto;
  height: auto;
  background-color: #323232;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 300;
  color: #fff;
}

.chip:focus {
  background-color: var(--accent);
}
.chips.focus {
  border-bottom: 1px solid var(--accent);
  -webkit-box-shadow: 0 1px 0 0 var(--accent);
          box-shadow: 0 1px 0 0 var(--accent);
}

.input-field .prefix.active {
  color: var(--accent);
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid var(--accent);
  -webkit-box-shadow: 0 1px 0 0 var(--accent);
          box-shadow: 0 1px 0 0 var(--accent);
}