.primary {
  background-color: #35385B;
}

.primary-dark {
  background-color: #303252;
}

.accent {
  background-color: #6688EC;
}

.dark {
  background-color: #242424;
}

body::-webkit-scrollbar {background-color: #242424; width: 0.5em;}
body::-webkit-scrollbar-thumb {background-color: #6688EC;}
ul.sidenav::-webkit-scrollbar {background-color: #242424; width: 0.5em;}
ul.sidenav::-webkit-scrollbar-thumb {background-color: #6688EC;}
::selection {background: #FFF;}

body {
  margin-top: 20px;
  background-color: #242424;
}

main {
  transition: padding-top 0.4s;
  padding-top: 90px;
}

.light-mode {
  background-color: #eee;
}

#drag {
  z-index: 2;
  overflow: hidden;
  top: 0;
  position: fixed;
  height: 20px;
  width: 100%;
  background-color: #6688EC;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

#titlebar {
  z-index: 2;
  overflow: hidden;
  top: 20px;
  position: fixed;
}

input#searchBar {
  color: #FFF;
}

#nav-search {
  z-index: 1;
  overflow: hidden;
  position: fixed;
  transition: margin-top 0.4s;
  margin-top: 0px;
}

#container {
  column-break-inside: avoid;
}
#container .card {
  display: inline-block;
  overflow: visible;
}

div#loading {
  margin-top: -20px;
}

@media only screen and (max-width: 600px) {
  #container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media only screen and (min-width: 601px) {
  #container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 993px) {
  #container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
.text-center {
  text-align: center;
}


@media only screen and (max-width: 600px) {
  .masonry {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media only screen and (min-width: 601px) {
  .masonry {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 993px) {
  .masonry {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

/*
* MATERIALIZE CSS
*/

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #35385B;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: #6688EC;
}
.progress {
  height: 12px;
  background-color: #303252;
  margin: 0;
}
.progress .indeterminate {
  background-color: #6688EC;
}
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #6688EC;
  box-shadow: 0 1px 0 0 #6688EC;
}
.input-field .prefix.active {
  color: #6688EC;
}
.btn:focus, .btn-large:focus,
.btn-floating:focus {
  background-color: #1d7d74;
}

.btn, .btn-large {
  text-decoration: none;
  color: #fff;
  background: linear-gradient(45deg, #576fe6 0%, #9844b7 100%);
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
}
[type="checkbox"].filled-in:checked + span:not(.lever):after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #576fe6;
  background-color: #576fe6;
  z-index: 0;
}
.select-wrapper input.select-dropdown {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #576fe6;
  color: #9e9e9e;
  outline: none;
  height: 3rem;
  line-height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 8px 0 8px 0;
  padding: 0;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}
.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #6688EC;
}
a, .dropdown-content li > span {
  color: #303252;
}
.sidenav .user-view {
  position: relative;
  padding: 69px 32px 0;
  margin-bottom: 8px;
}
.sidenav li > label, .sidenav li > .select-wrapper {
  padding: 0 32px;
}
label {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.87);
}
.input-field input[type=search] {
  display: block;
  line-height: inherit;
}
.input-field input[type=search]:focus:not(.browser-default) {
  background-color: #292b46;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #FFF;
}

.input-field input[type=search]:focus:not(.browser-default) + label i,
.input-field input[type=search]:focus:not(.browser-default) ~ .mdi-navigation-close,
.input-field input[type=search]:focus:not(.browser-default) ~ .material-icons {
  color: #FFF;
}
input.select-dropdown.dropdown-trigger {
  margin: 0;
}