.primary {
  background-color: #35385B;
}

.primary-dark {
  background-color: #303252;
}

.accent {
  background-color: #6688EC;
}

body {
  margin-top: 20px;
  background-color: #242424;
}
.light-mode {
  background-color: #eee;
}

.drag {
  z-index: 2;
  overflow: hidden;
  top: 0;
  position: fixed;
  height: 20px;
  width: 100%;
  background-color: #6688EC;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

input#searchBar {
  color: #FFF;
}

/*
* MATERIALIZE CSS
*/

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #35385B;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: #6688EC;
}

.progress {
  height: 8px;
  background-color: #303252;
  margin: 0;
}
.progress .indeterminate {
  background-color: #6688EC;
}
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #6688EC;
  box-shadow: 0 1px 0 0 #6688EC;
}
.input-field .prefix.active {
  color: #6688EC;
}
.btn:focus, .btn-large:focus,
.btn-floating:focus {
  background-color: #1d7d74;
}

.btn, .btn-large {
  text-decoration: none;
  color: #fff;
  background: linear-gradient(45deg, #576fe6 0%, #9844b7 100%);
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
}
[type="checkbox"].filled-in:checked + span:not(.lever):after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #576fe6;
  background-color: #576fe6;
  z-index: 0;
}
.select-wrapper input.select-dropdown {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #576fe6;
  color: #9e9e9e;
  outline: none;
  height: 3rem;
  line-height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 8px 0 8px 0;
  padding: 0;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}
.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #6688EC;
}
a, .dropdown-content li > span {
  color: #303252;
}