:root {
    --primary: #35385B;
    --primary-dark: #303252;
    --accent: #6688EC;
    --dark: #242424;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.nav-wrapper {
    background-color: var(--primary);
}

.hero {
    background-color: var(--primary-dark);
}

.hero-image {
    padding: 100px 200px 100px 200px;
}

.hero-image img {
    width: 100%;
    height: auto;
}

.hero-actions {
    width: 100%;
    margin-top: -25px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-actions a {
    background-color: var(--accent);
    padding: 0 26px;
    margin: 0 10px 0 10px;
    height: 46px;
    line-height: 46px;
}

main {
    flex: 1 0 auto;
    margin-top: 80px;
}

li {
    font-size: 24px;
}

.page-footer {
    background-color: var(--primary);
}


/* MaterializeCSS Overriding */

.btn:focus, .btn-large:focus, .btn-small:focus,
.btn-floating:focus {
  background-color: var(--accent);
}

.btn, .btn-large, .btn-small {
  background-color: var(--accent);
}

.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: #5679e2;
}